.header__wrapper {
  width: 100%;

  background-color: $white_color;
  .header__content__wrapper {
    width: 100%;
    border-bottom: 0.1rem solid $offers_grey_color;
    .header__content {
      z-index: 11;
      max-width: 111rem;
      width: 100%;

      padding: 4rem 0;

      margin: 0 auto;

      display: flex;
      align-items: center;
      // justify-content: space-between;

      gap: 3.2rem;
      .header__nav {
        margin: 0 4rem;

        flex: 1;

        ul {
          display: flex;
          gap: 3.2rem;
          li {
            position: relative;
            a {
              color: $header_grey_color;
              font-size: 1.6rem;
            }
            .dropdown__list {
              display: flex;
              flex-direction: column;
              position: absolute;
              top: 100px;
              li {
                a {
                  font-size: 1.4rem;
                  color: $dropDown_li_color;
                }
                a:hover {
                  color: $arrow_anchor_color;
                }
              }
            }
          }
        }
      }
      .header__btns_wrapper {
        display: flex;

        gap: 1.6rem;
        align-items: center;
        .search_icon__wrapper {
          cursor: pointer;
          padding: 0.8rem;
          &:hover {
            svg {
              path {
                fill: $arrow_anchor_color_hover;
                transition: 0.6s ease-out;
              }
            }
          }
        }
        .subscribe__btn {
          display: flex;

          align-items: center;

          gap: 0.6rem;
          cursor: pointer;
          &:hover {
            svg {
              path {
                fill: $arrow_anchor_color_hover;
                transition: 0.6s ease-out;
              }
            }
          }
          p {
            color: $arrow_anchor_color;

            font-weight: 700;
            font-size: 1.4rem;

            line-height: 0.14rem;
          }
          p:hover {
            color: $arrow_anchor_color_hover;
            transition: 0.6s ease-out;
          }
        }
        .language__wrapper {
          display: flex;
          align-items: center;
          gap: 0.6rem;

          padding: 0.8rem;

          cursor: pointer;
          span {
            color: $tbc_logo_color;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.7;
          }
        }
        .language__wrapper:hover {
          background-color: $lang_bg_hover;
          border-radius: 0.4rem;
          transition: 0.6s ease-out;
        }
      }
    }
  }
  .header__dropDown {
    width: 100%;
    padding: 3.2rem 0;

    z-index: 10;

    background-color: $white_color;
    .header__drDown_content {
      max-width: 111rem;
      width: 100%;

      margin: 0 auto;

      .dropdown__div {
        cursor: pointer;
        display: flex;
        align-items: center;

        gap: 0.6rem;

        &:hover {
          svg {
            path {
              fill: $arrow_anchor_color_hover;
              transition: 0.6s ease-out;
            }
          }
        }
      }
      span {
        color: $arrow_anchor_color;
        font-size: 1.4rem;
        font-weight: 700;
      }

      span:hover {
        color: $arrow_anchor_color_hover;
        transition: 0.6s ease-out;
      }
    }
  }
}
