$white_color: #ffffff;
$body_color: #f9fafa;

$main_text_color: #141719;
$grey_color: #333;

$offers_grey_color: #6f787b;

$header_grey_color: #222;
$arrow_anchor_color: #182cc0;
$arrow_anchor_color_hover: #4ca2d4;

$button_background_color: #3295ce;
$tbc_logo_color: #555f62;

$lang_bg_hover: #eef1f1;
$dropDown_li_color: #141719;

$social_network_icon_bg: #f9fafa;

$footer_burgerMenu_border_color: #d1d5d6;

$fixed_burger_Menu: #424a4d;
